.btn {
  margin: 5px;
  background-color: #008080;
}
.buttons {
  background-color: #008080 !important;
  border: none !important;
  color: white !important;
}
.buttons:hover {
  background-color: #00b3b3 !important;
  color: white !important;
}
#roundTripButton {
  background-color: #dc2500 !important;
  border: none !important;
  color: white !important;
  margin-bottom: 5px;
}
#roundTripButton:hover {
  background-color: #ff2f06 !important;
}
