.form-group {
  margin-bottom: 0 !important;
}
.main-form {
  opacity: 1;
  width: 600px;
  height: 100%;
  border-radius: 0 0 10px 0;
  background-color: #fcfcfc;
  transform: scale(0.7, 0.7);
  transform-origin: top left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  padding: 1rem;
}
.db-form {
  opacity: 1;
  width: 450px;
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
  background-color: transparent;
  transform: scale(0.7, 0.7);
  transform-origin: top left;
}
.form-control.dropDownList {
  margin-bottom: 5px;
  width: 270px;
  height: 45px;
  font-size: 0.9em;
  font-family: inherit;
  color: #495057;
}
#userWelcome {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#saveRouteID {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#generateRoute {
  display: flex;
  align-items: flex-end;
}
#location,
#swap,
#save-icon {
  margin-right: 5px;
}
#roundTripMyLocation {
  margin-top: 10px;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  .form-control.dropDownList {
    margin-bottom: 5px;
    width: 150px;
    height: 45px;
    font-size: 0.9em;
    font-family: inherit;
    color: #495057;
  }

  #roundTripButton {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
