@media only screen and (max-width: 600px) {
  #welcome-message,
  #userWelcome.row {
    display: none;
  }
  .main-form {
    display: flex;
    transform: none;
    width: 100vw;
    padding: 0.2rem;
  }

  .form-control {
    margin: 5px;
  }

  #addEndPoint,
  #useMyLocation,
  #roundTripButton,
  #saveRoute,
  .dropDownList {
    font-size: 0.7rem !important;
    padding: 0.1rem 0.4rem 0.1rem 0rem !important;
  }
  input.form-control {
    font-size: 0.7rem;
  }
  #swap,
  #location,
  #save-icon {
    margin: 1px;
    transform: scale(0.8, 0.8);
  }

  .leaflet-control-container {
    display: none;
  }

  .dropDowList {
    background: red;
  }

  .btn {
    width: 100%;
    font-size: 0.7rem !important;
    height: 30px;
    margin: 0px;
    padding: 2px 8px 2px 0px !important;

    /* padding-bottom: 30px !important; */
    /* text-align: center; */
    /* font-size: small; */
  }

  #roundTripButton {
    font-size: 0.7rem !important;
    height: 30px;
  }

  #addEndPoint {
    height: 30px;
  }
}
